@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1800px) {
}
@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1281px) {
}
@media only screen and (max-width: 1080px) {
    header {
    position: relative;
    background: #000;
    padding: 0;
}

header .head-logo:before {
    width: 95px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 20px;
}

header .first-bar > div > div > ul.list-unstyled > li {
    margin: 0 !important;
    width: 100%;
}

header .first-bar ul.list-unstyled {
    display: block;
    text-align: right;
}

header .first-bar ul li:after {
    display: none;
}

header .menu-bar ul.navs li {
    padding: 10px 18px;
}

header .menu-bar ul.navs {
    display: inline-block;
}

header .menu-bar {
    display: block;
    text-align: center;
}

header .menu-bar ul {
    padding: 14px 0;
}

.icon-box.click-s {
    right: auto;
}
section.main-content .item .cover {padding: 0;}

section.main-content .owl-item.active .img-box img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0 0;
}

section.main-content .item .img-box {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

section.main-content .item .cover .header-content h2 {
    font-size: 20px;
    margin-top: 20px;
}

section.main-content .item .cover .header-content h1 {
    font-size: 30px;
    line-height: 1.4;
    margin: 0 0 10px 0;
    padding: 0;
}

section.main-content .item .cover .header-content p {
    padding: 0 40px;
    font-size: 14px;
}

section.main-content .item .cover .header-content {
}

section.main-content .item .cover .header-content ul li a {
    font-size: 13px;
}

section.main-content .item .cover .header-content ul {
    margin: 20px 0 0;
    padding: 0 0 15px 0;
}

section.detail .dropdowns ul .col {
    flex: 0 0 100%;
    margin: 0 0 15px 0;
}

section.detail .dropdowns ul {
    display: block;
}

section.detail .dropdowns ul .col select.form-control {
    margin: 0 !important;
}

section.detail .dropdowns ul .col input.ml-2 {
    margin: 0 !important;
}

section.detail ul.btns {
    padding: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {flex: 0 0 100%;max-width: 100%;}

section.dashboard .coach-form .naves-content {
    padding: 0px 10px;
}
.col-lg-4.disflexend {
    margin-top: 20px;
}

.dash-searh .wrap {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
}

.dash-searh {
    margin: 10px auto;
}

section.dashboard header {
    height: auto;
    padding: 30px 0;
}

section.dashboard footer {
    text-align: center;
}

.privacy {
    text-align: center;
    width: 100%;
}
}
@media only screen and (max-width: 959px) {	
}
@media only screen and (max-width: 637px) {
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 382px) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
