body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.main-header .small-menu-bar ul li a{
	font-family: 'Poppins', sans-serif !important;
}
.font,
.main-banner h3{
	font-family: 'Barlow Condensed', sans-serif !important;
}
body{
	overflow-x: hidden !important;
}

/*extra*/
.btn.btn-border{
	border: 2px solid #fff;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 16.5px 46px;
	border-radius: 50px;
	line-height: 23px;
}
.btn.btn-bg{
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 16.5px 46px;
	border-radius: 50px;
	line-height: 23px;
	background-color: #a0a905;
}
.font-35{
    font-size: 35px !important;
}
/*extra*/
/*inner pages banner*/
.inner-pages-banner{
	background-image: url(../images/banner-1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 437px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.inner-pages-banner h1{
	margin: 0 0 16px !important;
}
.inner-pages-banner h2{
    margin: 0 !important;
}
/*inner pages banner*/
/*header*/
header{
	background-color: #000000;
}
.main-header{}
.main-header .header-logo{}
.main-header .header-logo img{}
.main-header .small-menu-bar{
	margin: 35px 0;
}
.main-header .small-menu-bar ul{
	margin: 0;
}
.main-header .small-menu-bar ul li{
	padding: 0 25px;
	margin: 0;
}
.main-header .small-menu-bar ul li a{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	padding: 29px 0;
}
.main-header .small-menu-bar ul li a:before{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 6px;
	border-radius: 0px;
	background-color: #a0a905;
	transition: 0.5s;
	margin: auto;
}
.main-header .small-menu-bar ul li:hover a:before{
	width: 60%;
}
.main-header .header-icons{text-align: right;padding: 0 15px 0 0;}
.main-header .header-icons ul{
	display: inline-flex;
	align-items: center;
	margin: 28px 0;
}
.main-header .header-icons ul li{
	margin: 0;
	padding: 0 7px;
}
.main-header .header-icons ul li a{}
.main-header .header-icons ul li a i{
	font-size: 20px;
	color: #fff;
}
.main-header .header-icons ul li:last-child a i{
	font-size: 34px;
}
.main-header .header-icons ul li:last-child{
	margin-left: 9px;
}
/*header*/
/*main banner*/
.main-banner{
	background-image: url(../images/banner-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 1017px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	justify-content: center;
	padding: 0 0 56px;
}
.main-banner h1{
	font-size: 58px;
	font-weight: 600;
	color: #fff;
	line-height: 42px;
	margin: 0 0 15px;
}
.main-banner h2,
.inner-pages-banner h2{
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 46px;
	letter-spacing: 7px;
}
.main-banner h3{
	font-size: 57px;
	font-weight: 500;
	color: #fff;
	line-height: 46px;
	margin: 56px 0 19px;
}
.main-banner h3 span{
	font-weight: 700;
	color: #a0a905;
}
.main-banner p{
	font-size: 26px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}
.main-banner-buttons{}
.main-banner-buttons ul{}
.main-banner-buttons ul li{
	margin: 0 0 23px;
}
.main-banner .btn.btn-border{
}
.main-banners .card {
    background-color: #000;
    height: 1080px;
}
/*main banner*/
/*section 1*/
.section-1{
	background-image: url(../images/sec-1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 886px;
	padding: 80px 0 0;
}
.section-1 h2{
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	line-height: 42px;
	margin: 0 0 30px;
}
.section-1 p{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.sec-1-images{
	padding: 49px 0;
}
.sec-1-button{
	margin-top: 57px;
}
/*section 1*/
/*section 2*/
.section-2{
	background-image: url(../images/sec-2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 969px;
	padding: 145px 133px 145px 133px;
}
.inner-sec-2{
	background-color: #00000091;
	padding: 78px 0 78px;
	position: relative;
}
.inner-sec-2:before{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: #727b1c;
}
.inner-sec-2 .sec-2-col-left{}
.inner-sec-2 .sec-2-col-left h3,
.sec-3-col-left h3,
.sec-4-col-left h3,
.section-5-col-right h3,
.section-6-col-left h3,
.section-7-col-left h3,
.section-8-col-left h3,
.section-9-col-left h3,
.section-9-col-center h3,
.section-11-col-left h3,
.section-12-col-right h3,
.section-13-col-center h3,
.inner-pages-banner h1,
.section-heading-1{
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	line-height: 46px;
	margin: 0 0 37px;
}
.inner-sec-2 .sec-2-col-left p,
.sec-3-col-left p,
.sec-4-col-left p,
.section-5-col-right p,
.section-6-col-left p,
.section-7-col-left p,
.section-8-col-left p,
.section-9-col-left p,
.section-9-col-center p,
.section-11-col-left p,
.section-12-col-right p,
.section-13-col-center p{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 20px;
}
.inner-sec-2 .sec-2-col-left .sec-2-button,
.sec-3-col-left .sec-3-button,
.sec-4-col-left .sec-4-button,
.section-5-col-right .sec-5-button,
.section-6-col-left .sec-6-button,
.section-7-col-left .sec-7-button,
.section-8-col-left .sec-8-button,
.section-9-col-left .sec-9-button,
.section-9-col-center .sec-10-button,
.section-11-col-left .sec-11-button,
.section-12-col-right .sec-12-button,
.section-13-col-center .sec-13-button {
	padding: 34px 0 0;
}
.sec-2-img,
.sec-3-img{
	position: relative;
	z-index: 999999;
}
.sec-2-img:before,
.sec-3-img:before{
	position: absolute;
	content: "";
	right: -16px;
	top: -16px;
	width: 295px;
	height: 290px;
	background-color: #9fa805;
	z-index: -1;
}
.sec-2-img img,
.sec-3-img img{
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
/*section 2*/
/*section 3*/
.section-3{
	background-image: url(../images/sec-3.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 816px;
	padding: 129px 0 129px;
}
.sec-3-img:before{
	left: -16px;
	top: -16px;
	right: auto;
}
/*section 3*/
/*section 4*/
.section-4{
	background-image: url(../images/sec-4.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 1004px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.sec-4-col-left{
	margin: 111px 0 0;
}
/*section 4*/
/*section-5*/
.section-5{
	background-image: url(../images/sec-5.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 926px;
}
.section-5-col-right{
	position: relative;
	z-index: 999999;
	padding: 106px 0 162px 90px;
	margin: 235px 0 0;
}
.overlay-sec-5{
	background-color: rgba(179, 17, 0, 0.59);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	position: absolute;
	z-index: -1;
	width: 66vw;
}
/*section-5*/
/*section-6*/
.section-6{
	background-color: #8baa65;
	padding: 170px 0 173px;
	position: relative;
	z-index: 99;
}
/*.overlay-sec-6{
	position: relative;
}*/
.section-6-col-left{
	position: relative;
	z-index: 0;
	padding: 90px 0 0;
}
.overlay-sec-6{
	z-index: -103;
}
.overlay-sec-6:before{
	position: absolute;
	content: "";
	background-image: url(../images/section-6.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 747px;
	width: 89vw;
	z-index: -1;
	top: 0;
	left: -61px;
	right: 0;
	bottom: 0;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}
.sec-6-button{
	padding: 75px 0 0 !important;
}
/*section-6*/
/*section-7*/
.section-7{
	background-image: url(../images/section-7.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 820px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.section-7-col-left h3,
.section-7-col-left p{
	color: #08080b;
}
/*section-7*/
/*section-8*/
.section-8{
	background-color: #262c32;
	height: 1085px;
	padding: 172px;
}
.sec-8-left{
	background-image: url(../images/sec-8-img.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 834px;
	height: 748px;
	position: absolute;
	right: 0;
}
.sec-8-left:before{
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #a0a905;
	width: 7px;
	height: 70%;
	margin: auto;
}
.section-8-col-left{
	position: relative;
	z-index: 999;
	height: 748px;
	padding: 90px 97px 110px 38px;
}
.overlay-sec-8{
	background-color: #373b40;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.sec-8-bx-shadow{
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}
/*section-8*/
/*section-9*/
.section-9{
	background-image: url(../images/section-9.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 898px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.section-9-col-left{}
.section-9-col-left h3,
.section-9-col-left p{
	color: #0a0a0d;
}
.section-9-col-left ul{
	margin-top: 36px;
}
.section-9-col-left ul li{
	font-size: 22px;
	font-weight: 500;
	color: #0a0a0d;
	position: relative;
	padding-left: 36px;
	margin: 0 0 10px;
}
.section-9-col-left ul li:before{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 19px;
	height: 3px;
	background-color: #a0a905;
}
/*section-9*/
/*section-10*/
.section-10{
	background-image: url(../images/section-10.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 834px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.section-9-col-center h3{
	margin: 0 0 20px;
}
.section-9-col-center .sec-10-button{
	padding: 65px 0 0;
}
/*section-10*/
/*section-11*/
.section-11{
	background-image: url(../images/section-11.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 898px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/*section-11*/
/*section-12*/
.section-12{
	background-image: url(../images/section-12.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 1231px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.section-12-col-right h3,
.section-12-col-right p{
	color: #262626;
}
/*section-12*/
/*section-13*/
.section-13{
	background-image: url(../images/section-13.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	height: 1403px;
}
.section-13-col-center{
	background-color: #fff;
	text-align: center;
	padding: 100px 112px 70px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
	margin: 140px 0 0;
}
.section-13-col-center h3,
.section-13-col-center p,
.section-13-col-center ul li{
	color: #272727;
}
.section-13-col-center ul{
	margin: 40px 0 0;
	width: 77%;
	margin: 42px auto 0;
}
.section-13-col-center ul li{
	font-size: 22px;
	font-weight: 400;
	border-bottom: 1px solid #dadada;
	padding: 8px 0;
}
.sec-13-button{
	margin: 26px 0 0;
}
/*section-13*/
/*footer*/
footer{
	margin: -15% 0 0;
	padding: 0 0 40px;
}
.footer-logo{}
.footer-logo img{}
.footer-social{
	margin: 0 0 30px;
}
.footer-social li{
	padding: 0 12px 0;
}
.footer-social li a{}
.footer-social li a i{
	font-size: 22px;
	color: #262626;
}
.privacy-policy{}
.privacy-policy ul{}
.privacy-policy ul li{
	position: relative;
	margin: 0 !important;
	padding: 0 8px;
}
.privacy-policy ul li:before{
	position: absolute;
	content: "";
	right: -3px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #262626;
	width: 3px;
	height: 21px;
}
.privacy-policy ul li:last-child:before{
	content: none;
}
.copyright p{
	margin: 0 0 5px;
}
.privacy-policy ul li a,
.copyright p{
	font-size: 18px;
	font-weight: 400;
	color: #262626;
}
/*footer*/
/*inner what is infusion*/
.inner-page-what-is-infusion-center h3{
	color: #262626;
	margin: 0 0 29px;
}
.inner-page-what-is-infusion-center ul{}
.inner-page-what-is-infusion-center ul li,
.inner-page-what-is-infusion-center p{
	position: relative;
	font-size: 20px;
	font-weight: 400;
	color: #262626;
	margin: 0 0 32px;
	padding: 0 0 0 43px;
}
.inner-page-what-is-infusion-center ul li:before{
	position: absolute;
	content: "";
	left: 0;
	top: 14px;
	width: 21px;
	height: 3px;
	background-color: #262626;
}
.what-is-infusion-chart{
	width: 90%;
	margin: 78px auto 65px;
	z-index: 9999999999999;
}
.what-is-infusion-chart table thead{
	background-color: #a0a905;
}
.what-is-infusion-chart table thead tr th{
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	position: relative;
	padding: 15px 0 14px;
}
.what-is-infusion-chart table thead tr th:nth-child(1){
	width: 28%;
	padding-left: 90px;
}
.what-is-infusion-chart table thead tr th:nth-child(4){
	width: 28%;
	padding-right: 90px;
}
.what-is-infusion-chart table thead tr th:before{
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	height: 100%;
	background-color: #838a05;
}
.what-is-infusion-chart table thead tr th:last-child:before{
	content: none;
}
.what-is-infusion-chart table thead tr th span{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	display: block;
}
.what-is-infusion-chart table tbody{
	background-color: #ebebeb;
}
.what-is-infusion-chart table tbody tr td{
	font-size: 18px;
	font-weight: 600;
	color: #262626;
}
.what-is-infusion-chart table tbody tr td:nth-child(1){
	padding-left: 90px;
}
.what-is-infusion-chart table tbody tr td:nth-child(4){
	padding-right: 90px;
}
section.inner-page-what-is-infusion {
    padding: 80px 0 66px;
}
.logo-icn-before{
    position: relative;
}
.logo-icn-before:before{
	position: absolute;
	content: "";
	right: 0;
	top: -48px;
	background-image: url(../images/logo-icon-before.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 886px;
	height: 1151px;
	z-index: -99;
}
/*inner what is infusion*/
/*inner-page-product*/
.inner-page-product{
    padding: 68px 0 93px;
}
.product-categories-sidebar{}
.product-categories-sidebar h3{
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	background-color: #a0a905;
	padding: 31px 20px 31px 25px;
	margin: 0;
}
.product-categories-sidebar ul.categories-list{
	background-color: #f5f5f5;
	padding: 21px 25px 61px;
}
.product-categories-sidebar ul li:first-child{
	background-image: inherit;
}
.product-categories-sidebar ul li{
	padding: 20px 0;
	line-height: 4px;
	background-image: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 0%);
	background-position: top;
	background-size: 6px 1px;
	background-repeat: repeat-x;
}
.product-categories-sidebar ul li a,
.categories-title p{
	font-size: 18px;
	font-weight: 400;
	color: #5a5a5a;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 16px;
}
.product-categories-sidebar ul .sub-menu {
    list-style: none !important;
    padding-left: 15px;
}
.product-categories-sidebar ul .sub-menu li{
    padding: 16px 0 !important;
}
.product-categories-sidebar ul .sub-menu li a{
	font-size: 16px;
}
.categories-title{}
.categories-title h3{
	font-size: 28px;
	font-weight: 600;
	color: #5a5a5a;
	text-transform: uppercase;
	margin: 40px 0 21px;
}
.categories-title p{
	text-transform: inherit;
	line-height: 1.5;
}
/*inner-page-product*/
/*products item style*/
.products{}
.item-product{
	text-align: center;
	border: 2px solid #e8e8e8;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(199, 197, 197, 0.52);
	-moz-box-shadow: 0px 0px 21px 0px rgba(199, 197, 197, 0.52);
	box-shadow: 0px 0px 21px 0px rgba(199, 197, 197, 0.52);
	margin: 0 0 39px;
}
.item-product .inner-product{
	padding: 22px 22px 0;
	position: relative;
}
.item-product .inner-product .overlay-product{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #a0a90552;
	opacity: 0;
	transition: 0.5s;
}
.item-product .inner-product .overlay-product .add-to-cart a.btn.btn-bg{
	font-size: 16px;
	padding: 9.5px 34px;
} 
.item-product .inner-product .img-box{
    width: 270px;
    height: 303px;
    background: #e8e8e8;
    overflow: hidden;
}
.item-product .inner-product .img-box img{
    max-width: 100%;
    max-height: 100%;
}
.item-product .inner-product .title-product{
	border-top: 1px solid #e8e8e8;
	padding: 19px 0 4px;
	margin: 34px 0 0;
}
.item-product .inner-product .title-product h3{
	font-size: 18px;
	font-weight: 600;
	color: #5a5a5a;
	text-transform: uppercase;
}
.item-product .inner-product .title-product h3 span{
	font-size: 16px;
}
.item-product .quantity{
	background-color: #a0a905;
	padding: 0 0;
	margin: 0;
}
.item-product .quantity h4{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin: 0;
	line-height: 23px;
	padding: 15px 0 17px;
}
.item-product .quantity h4 del{
	font-size: 20px;
}
.item-product:hover .inner-product .overlay-product{
	opacity: 1;
}
/*products item style*/
html {
	scroll-behavior: smooth;
}
/*footer*/
html {scroll-behavior: smooth;}
#bullet-nav{top:30%;z-index: 9999999;left: 36px;}
.timeline{}
ul.timeline {list-style-type: none;position: relative;}
ul.timeline li{position: relative;}
ul.timeline li:before {border-left: 1px solid #fff;content: "";display: block;height: 38px;left: 7px;margin: 0 0 0 -.5px;pointer-events: none;position: absolute;top: 10px;width: 0px;z-index: -1;}
ul.timeline > li {
	/* padding: 20px 0; */padding-left: 0px;line-height: 34px;display: flex;align-items: center;align-content: center;}
ul.timeline li:last-child:before {display: none;}
ul.timeline > li i{font-size: 14px;}
.tooltip-inner {background-color: #a0a905;}
.tooltip.bs-tooltip-right .arrow:before {border-right-color: #a0a905 !important;}
.overlay {height: 100%;width: 0;position: fixed;z-index: 99999999;top: 0;right: 0;background-color: rgb(0,0,0);background-color: rgba(0,0,0, 0.9);overflow: hidden;transition: all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;}
.overlay-content {position: relative;top: 60px;width: 100%; /*text-align: center;*/margin-top: 30px;}

.overlay a:hover, .overlay a:focus {color: #f1f1f1;}
.overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 3vw;padding: 8px;text-decoration: none;color: #fff;display: block;transition: 0.3s;}
#menu-navigation {  font-weight: 700; display: inline-block;padding: 20px 40px; transition: 1s;}
#menu-navigation .parent-nav{visibility: inherit; opacity: 1;}
#menu-navigation .parent-nav a i{font-size: 20px;}
#menu-navigation a{ color: #fff; font-size: 36px; line-height: 55px; padding: 15px 0px;}
#menu-navigation a:hover{ background: transparent; color:#a0a905;}
#menu-navigation .sub-menu{background: transparent; border: none; margin-left: -50%; opacity: 0; display: none;}
#menu-navigation .sub-menu a{background: transparent; border: none; font-size: 30px; line-height: 30px;  font-weight: 700; }
#menu-navigation .dropright .dropdown-toggle::after { display: none;
}

@media (min-width: 320px) and (max-width: 767.98px) {}
@media (min-width: 768px) and (max-width: 1023.98px) {  }
@media (min-width: 1024px) and (max-width: 1199.98px) {
	.btn.btn-bg, .btn.btn-border {font-size: 14px;padding: 8px 35px;}
	.main-banner h1, .main-banner h3, .section-1 h2, .inner-sec-2 .sec-2-col-left h3, .sec-3-col-left h3, .sec-4-col-left h3, .section-5-col-right h3, .section-6-col-left h3, .section-7-col-left h3, .section-8-col-left h3, .section-9-col-left h3, .section-9-col-center h3, .section-11-col-left h3, .section-12-col-right h3, .section-13-col-center h3 {font-size: 4.5vh;}
	.main-header .header-icons ul {margin: 18px 0;}
	.main-header .small-menu-bar {margin: 24px 0; justify-content: center;display: flex;}
	.main-header .small-menu-bar ul li {padding: 0 0.4vw;}
	.main-header .small-menu-bar ul li a {font-size: 11px;}
	#menu-navigation a {font-size: 26px;line-height: 45px;}
	.main-banner {height: 98vh; align-items: center;}
	.main-header .header-icons ul li a i {font-size: 16px;}
	.main-header .header-icons ul li:last-child a i {font-size: 28px;}
	.section-2{padding: 0vh 6vw;}
	.section-2, .section-3, .section-6, .section-8, .section-12 {align-items: center;display: flex;}
	.section-3, .section-5, .section-6, .section-7, .section-8, .section-9, .section-11, .section-12, .section-13 {height: 100vh;}
	.section-10 {height: 50vh;}
	.overlay-sec-5{    width: 64.5vw;}
	.section-5-col-right {margin: 17vh 0 0;}
	.overlay-sec-6:before {    width: 93vw; left: 0;}
	.section-6-col-left {padding: 90px 20px;}
	.section-8-col-left {padding: 90px 40px 110px 30px;}
	.section-8 {padding: 0vh 5vw;}
	.section-9-col-left ul li {font-size: 20px;}
	.inner-sec-2 .sec-2-col-left p, .sec-3-col-left p, .sec-4-col-left p, .section-5-col-right p, .section-6-col-left p, .section-7-col-left p, .section-8-col-left p, .section-9-col-left p, .section-9-col-center p, .section-11-col-left p, .section-12-col-right p, .section-13-col-center p {
		font-size: 16px;}
	.section-13-col-center{ margin: 3vh 0 0;    padding: 5vh 2vw;}
	.section-13-col-center ul li {font-size: 18px;}
	footer {margin: -20% 0 0;}
	.privacy-policy ul li a, .copyright p {font-size: 16px;}
	.footer-logo {
		width: 40%;
		margin: 0px auto;
	}
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
	.btn.btn-bg, .btn.btn-border {font-size:18px; padding: 12px 35px;}
	.main-banner h1, .main-banner h3, .section-1 h2, .inner-sec-2 .sec-2-col-left h3, .sec-3-col-left h3, .sec-4-col-left h3, .section-5-col-right h3, .section-6-col-left h3, .section-7-col-left h3, .section-8-col-left h3, .section-9-col-left h3, .section-9-col-center h3, .section-11-col-left h3, .section-12-col-right h3, .section-13-col-center h3 {font-size: 5.5vh;}
	.main-header .header-icons ul {margin: 20px 0;}
	.main-header .small-menu-bar {margin: 26px 0;}
	.main-header .small-menu-bar ul li {padding: 0 0.5vw;}
	.main-header .small-menu-bar ul li a {font-size: 13px;}
	#menu-navigation a {font-size: 28px;line-height: 45px;}
	.main-banner {height: 98vh; align-items: center;}
	.section-3, .section-6, .section-8, .section-12 {align-items: center;display: flex;}
	.section-3, .section-5, .section-6, .section-7, .section-8, .section-9, .section-11, .section-12, .section-13 {height: 100vh;}
	.section-10 {height: 50vh;}
	.overlay-sec-5{    width: 64.5vw;}
	.section-5-col-right {margin: 13vh 0 0;}
	.overlay-sec-6:before {    width: 93vw; left: 0;}
	.section-6-col-left {padding: 90px 20px;}
	.inner-sec-2 .sec-2-col-left p, .sec-3-col-left p, .sec-4-col-left p, .section-5-col-right p, .section-6-col-left p, .section-7-col-left p, .section-8-col-left p, .section-9-col-left p, .section-9-col-center p, .section-11-col-left p, .section-12-col-right p, .section-13-col-center p {
		font-size: 18px;}
	.section-13-col-center{ margin: 3vh 0 0;    padding: 5vh 2vw;}
	.section-13-col-center ul li {font-size: 20px;}
	footer {margin: -10% 0 0;}
	.privacy-policy ul li a, .copyright p {font-size: 16px;}
	.footer-logo {
		width: 50%;
		margin: 0px auto;
	}

}
@media (min-width: 1300px) and (max-width: 1399.98px) {
	.btn.btn-bg {font-size:18px; padding: 12px 35px;}
	.main-banner h1, .main-banner h3, .section-1 h2, .inner-sec-2 .sec-2-col-left h3, .sec-3-col-left h3, .sec-4-col-left h3, .section-5-col-right h3, .section-6-col-left h3, .section-7-col-left h3, .section-8-col-left h3, .section-9-col-left h3, .section-9-col-center h3, .section-11-col-left h3, .section-12-col-right h3, .section-13-col-center h3 {font-size: 6vh;}
	.main-header .header-icons ul {margin: 22px 0;}
	.main-header .small-menu-bar {margin: 26px 0;}
	.main-header .small-menu-bar ul li {padding: 0 0.6vw;}
	.main-header .small-menu-bar ul li a {font-size: 14px;}
	#menu-navigation a {font-size: 30px;line-height: 45px;}
	.main-banner {align-items: center;}
	.overlay-sec-5{    width: 63.5vw;}
	.section-5-col-right {margin: 13vh 0 0;}
	.overlay-sec-6:before {    width: 92.5vw; left: 0;}
	.section-6-col-left {padding: 90px 25px;}
	.inner-sec-2 .sec-2-col-left p, .sec-3-col-left p, .sec-4-col-left p, .section-5-col-right p, .section-6-col-left p, .section-7-col-left p, .section-8-col-left p, .section-9-col-left p, .section-9-col-center p, .section-11-col-left p, .section-12-col-right p, .section-13-col-center p {
		font-size: 18px;}
	.section-8 {padding: 80px;}
	.section-10 {height: 80vh;}
	.section-8, .section-12, .section-13 {height: 100vh;}
	.section-13-col-center{ margin: 3vh 0 0;    padding: 5vh 2vw;}
	.section-13-col-center ul li {font-size: 20px;}
	footer {margin: -5% 0 0;}
	.privacy-policy ul li a, .copyright p {font-size: 16px;}

}
@media (min-width: 1400px) and (max-width: 1499.98px) {
	.main-header .small-menu-bar ul li {padding: 0 0.4vw;}
	.main-header .small-menu-bar {margin: 28px 0;}
	.main-header .header-icons ul {margin: 22px 0;}
	.main-header .small-menu-bar ul li a {font-size: 15px;}
	#menu-navigation a {font-size: 30px;line-height: 45px;}
	.overlay-sec-5 {width: 62.5vw;}
	.section-5-col-right {margin: 125px 0 0;}
	.section-10 {height: 70vh;}
	.section-11, .section-12, .section-13  {height: 100vh;}
	.section-13-col-center {margin: 30px 0 0;}
	footer {margin: -10% 0 0; padding: 80px 112px 70px;}
}
@media (min-width: 1500px) and (max-width: 1599.98px) {
	.main-header .small-menu-bar ul li a {font-size: 16px;}
	.main-header .small-menu-bar ul li {padding: 0 0.6vw;}
	#menu-navigation a {font-size: 32px;line-height: 45px;}
	.overlay-sec-5 {width: 64.5vw;}
	.section-10 {height: 80vh;}
	.section-12{height: 100vh;}
	.section-13{height: 130vh;}
	.container{max-width: 1400px !important;}
	footer {margin: -10% 0 0;}
}
@media (min-width: 1500px) and (max-width: 1599.98px) {
	.main-header .small-menu-bar {margin: 31px 0;}
	.main-header .small-menu-bar ul li a {font-size: 16px;}
	#menu-navigation a {font-size: 34px;line-height: 45px;}
	.container{max-width: 1400px !important;}
	.section-13{height: 110vh;}
	.container{max-width: 1400px !important;}
	footer {margin: -12% 0 0;}
}
@media (min-width: 1600px) and (max-width: 1699.98px) {
	.main-header .small-menu-bar ul li a {font-size: 16px;}
	.main-header .small-menu-bar ul li {padding: 0 0.8vw;}
	.overlay-sec-5 {width: 63.6vw;}
	.container{max-width: 1400px !important;}
}
@media (min-width: 1700px) and (max-width: 1799.98px) {
	.main-header .small-menu-bar ul li a {font-size: 16px;}
	.main-header .small-menu-bar ul li {padding: 0 0.8vw;}
	.overlay-sec-5 {width: 62.82vw;}
	.container{max-width: 1400px !important;}
}
@media (min-width: 1800px) and (max-width: 1899.98px) {
	.main-header .small-menu-bar ul li a {font-size: 17px;}
	.main-header .small-menu-bar ul li {padding: 0 1vw;}
	.overlay-sec-5 {width: 62.82vw;}
	.container{max-width: 1400px !important;}
}
@media (min-width: 1920px) {
	.container{max-width: 1400px !important;}
}