@font-face {
  font-family: 'Fonarto';
  src: url('/assets/fonts/Fonarto.eot') format('embedded-opentype');
  src:  url(/assets/fonts/Fonarto.woff) format('woff'), 
  url('/assets/fonts/Fonarto.ttf')  format('truetype'), 
  url('/assets/fonts/Fonarto.svg#Fonarto') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Poppins:300,400,500,600,700,800&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
 */
 body{
  font-family: 'Poppins', sans-serif !important;
 }
 body p{
  font-family: 'Open Sans', sans-serif !important;
 }
 .btn.btn-business{
    padding: 10px 45px;
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    transition: all .7s ease;
}
 .btn.btn-business:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #fff6f6;
}
 .btn.btn-more{
      margin-top: 15px;
      padding: 10px 40px;
      border: 2px solid #393939;
      border-radius: 0;
      font-size: 16px;
      color: #fffdfd;
      text-transform: capitalize;
      font-weight: 600;
      background-color: #393939;
      transition: all .6s ease;
 }
 .btn.btn-more:hover{
    background-color: #ccc;
    color: #000;
}
 .disflex{
  display: flex;
  align-items: center;
 }
 .disflexend {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* HEADER */
header{
    position: absolute;
    z-index: 999;
    width: 100%;
}
header .head-logo{
  position: relative;
}
header .head-logo:before{
  position: absolute;
  content: "";
  background: url('/assets/front/images/header-logo.png')no-repeat;
  width: 233px;
  height: 184px;
  left:0;
  top:0;
}
header:before{}
header .first-bar{
    padding: 20px 0;
}
header .first-bar ul{display: flex;align-items: center;justify-content: flex-end;margin: 0;}
header .first-bar ul li{color: #fff;margin: 0 25px 0 25px !important;font-size: 16px;font-weight: 500;position:relative;}
header .first-bar ul li:after{
    position:absolute;
    content:"";
    background-color: #fffbfb;
    height: 20px;
    width:1px;
    right: -15px;
    top:0;
    bottom: 0;
    margin: auto;
}
header .first-bar ul li:last-child:after{
    content:none;
}
header .first-bar ul li:last-child{
  margin-right: 0 !important;
}
header .first-bar ul li span{}
header .first-bar ul li a{
    color: #fff;
    text-decoration: none;
}
header .first-bar ul li span strong{}
header .first-bar ul li span strong{
    color: #ffd440;
}
header .first-bar ul li .social-icons{}
header .first-bar ul li .social-icons ul{}
header .first-bar ul li .social-icons ul li{
    margin: 0 6px !important;
}
header .first-bar ul li .social-icons ul li:after{
    content:none;
}
header .first-bar ul li .social-icons ul li a{}
header .menu-bar{
    background-color: #1e2e7d;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    min-height: 50px;
}
header .menu-bar ul.navs{}
header .menu-bar ul.navs li{
    margin: 0;
    position:relative;
    padding: 15px 20px;
    transition:all .5s ease;
    /* background-color: #f8ce3e; */
}
header .menu-bar ul.navs li:hover{
    background-color: #f8ce3e;
}
header .menu-bar ul.navs li.active{
    background-color: #f8ce3e;
}
header .menu-bar ul.navs li:after{
    position:absolute;
    content:"";
    background-color: #fffbfb;
    height:10px;
    width:1px;
    right: -15px;
    top:0;
    bottom: 0;
    margin: auto;
}
header .menu-bar ul.navs li:last-child:after{
    content:none;
}
header .menu-bar ul.navs li a{}
header .menu-bar ul.navs li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
header .menu-bar ul{
    margin: 0;
    padding: 0;
}
header .menu-bar ul li{
    margin-right: 10px !important;
}
header .menu-bar ul li a{
    color: #fff;
}
header .menu-bar ul li a.btn{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 8px 15px;
    transition: all .5s ease;
}
header .menu-bar ul li a.btn:hover{
  color: #1e2e7d;
  background-color: #fff;
}
/*search*/
.icon-box{
    position: relative;
    top: 2px;
    cursor: pointer;
    right: 10px;
}
.icon-box i{
  color: #ffffff;
}
.search-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.search-box {
    color: #fff
}
.search-box a,
.search-box a:hover,
.search-box a:focus {
    color: #fff
}
#shoow-s {
    display: none
}
.search0 {
    position: absolute;
    background-color: #f1b928!important;
    min-width: 250px;
    padding: 0;
    margin: 0;
    z-index: 100000;
    list-style-type: none;
    top: 50px !important;
    right: 250px;
    width: 200px;
    z-index: 9999;
}
.bg-search {
    width: 100%;
    background-color: #fff;
    border-bottom: transparent;
    border-radius: 5px;
    transition: 0.5s;
    padding: 0
}
.bg-search .input-group .input-group-btn .btn-default {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    background-color: #1e2e7d;
    border-color: #1e2e7d;
}
.bg-search .input-group .form-control {
    outline: none!important
}
.bg-search .input-group .form-control:focus {
    box-shadow: none;
    border: none
}
.bg-search .btn:focus {
    box-shadow: none
}
.search0 .btn-default,
.search0 .btn-default:hover,
.search0 .btn-default:active,
.search0 .btn-default:focus,
.search0 .btn-default:visited {
    margin-left: .45%;
    background-color: #63028f;
    border-color: #63028f;
    color: #fff;
    border-radius: 0
}
/*search*/
/* HEADER */
/* MAIN-CONTENT */
section.main-content{
    position: relative;
}
section.main-content .carousel-inner{}
section.main-content .carousel-caption{
  top: 50%;
}
section.main-content .carousel-caption h5{}
section.main-content .carousel-caption h4{}
section.main-content .carousel-caption p{}
section.main-content .carousel-caption ul{}
section.main-content .carousel-caption ul li{}
section.main-content .carousel-caption ul li a.btn{}
/* MAIN-CONTENT */
/*  */

section.main-content .item {
  height: 850px;
  position: relative;
}
section.main-content .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
section.main-content .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  display: flex;
  align-items: center;
}
section.main-content .item .cover .header-content {
  position: relative;
  /* padding: 56px; */
  overflow: hidden;
  text-align: center;
  /* top: 60px; */
}
/* section.main-content .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
} */
section.main-content .item .cover .header-content h2 {
  font-weight: 500;
  font-size: 27px;
  color: #FFF;
}
section.main-content .item .cover .header-content h1 {
  font-size: 68px;
  color: #fff;
  font-family: 'Fonarto';
  text-transform: uppercase;
  line-height: 50px;
  padding: 20px 0;
}
section.main-content .item .cover .header-content p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding: 0 140px;
}
section.main-content .item .cover .header-content ul{
    margin: 40px 0 0 0;
}
section.main-content .item .cover .header-content ul li{
    margin-right: 15px;
}
section.main-content .item .cover .header-content ul li a{}
section.main-content .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
section.main-content .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
section.main-content .owl-item.active .img-box img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.4s;
}
section.main-content .owl-item.active p {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
section.main-content .owl-item.active ul{
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.6s;
}
section.main-content .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
section.main-content .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  /* background: rgba(0, 0, 0, 0.5) !important; */
  width: 40px;
  cursor: pointer;
  border: 2px solid #fff !important;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 30px;
}
section.main-content .owl-nav .owl-prev span {
  font-size: 1.8rem;
  color: #fff;
  position: relative;
  top: -4px;
}
section.main-content .owl-nav .owl-prev:focus {
  outline: 0;
}
section.main-content .owl-nav .owl-prev:hover {
  background: #000 !important;
}
section.main-content .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 40px;
  border: 2px solid #fff !important;
}
section.main-content .owl-nav .owl-next span {
  font-size: 1.9rem;
  color: #fff;
  position: relative;
  top: -6px;
}
section.main-content .owl-nav .owl-next:focus {
  outline: 0;
}
section.main-content .owl-nav .owl-next:hover {
  background: #000 !important;
}
section.main-content:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
section.main-content:hover .owl-next {
  right: 0px;
  opacity: 1;
}
section.main-content .owl-nav .owl-next:hover,
section.main-content .owl-nav .owl-prev:hover{
  background-color: #fff !important;
}
section.main-content .owl-nav .owl-prev:hover span,
section.main-content .owl-nav .owl-next:hover span{
  color: #000 !important;
}
section.main-content .item .img-box{
    width: 190px;
    height: 180px;
    margin: auto;
    margin-bottom: 20px;
}
section.main-content .item .img-box img{
    width: 100%;
    height: 100%;
}

/* Details */
section.detail{position: relative;/* margin-top: -50px; */z-index: 9999;}
section.detail .detail-in{
  padding: 50px 0 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  position: relative;
  margin-top: -100px;
  background-color: #fff;
}
section.detail .detail-in:before{
  position: absolute;
  content: "";
  background-color: yellow;
  width:100%;
  height: 10px;
  top: 0;
  left: 0;
}
section.detail .dropdowns{}
section.detail .dropdowns ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.detail .dropdowns ul li{
    border: 1px solid #dddd;
    padding: 4px 0px;
    position:relative;
}
section.detail .dropdowns ul li:nth-child(1){
    width: 20%;
}
section.detail .dropdowns ul li:nth-child(2){
    width: 20%;
}
section.detail .dropdowns ul li:nth-child(3){
    width: 20%;
}
section.detail .dropdowns ul li:nth-child(4){
    width: 15%;
}
section.detail .dropdowns ul li:nth-child(5){
    width: 15%;
}
section.detail .dropdowns ul li .btn{box-shadow: none;}
section.detail .dropdowns ul li .form-control{border: 0;box-shadow: none;}
.dropdown-toggle::after{
  border-top: 0 !important;
}
section.detail .dropdowns ul li:after{
  position: absolute;
  font-family: "Font Awesome 5 Free" ! important;
  font-weight: 600;
  content: "\f107" !important;
  color: #000000;
  font-size: 14px !important;
  right: 10px;
  top: 10px;
  bottom: 0;
  margin: auto;
}
section.detail .dropdowns ul li:nth-child(n+4):after{
  content: none !important;
}
section.detail ul.btns{
    padding-top: 35px;
    margin: 0;
}
section.detail ul.btns li{}
section.detail ul.btns li a.btn{}
/* Details */
/* About */
.sec-heading{
    margin: 0;
    font-size: 35px;
    font-weight: 600;
    line-height: 37px;
    font-family: 'Open Sans', sans-serif !important;
}
.sec-para{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #7a7a7a;
}
.main-about-sec{
    padding: 35px 0 50px;
}
.main-about-sec .sec-heading{}
.main-about-sec .sec-para{
    margin: 20px 0 0px 0;
}
.main-about-sec a.btn{
    margin-top: 40px;
}
/* About */
/* ClinicsS */
.main-clinics-sec{
    background-color: #f9f9f9;
    padding: 100px 0 60px;
}
.main-clinics-sec .sec-para{
    margin: 10px 0 40px;
}
.main-clinics-sec .clinic-box{
}
.main-clinics-sec .clinic-box .img-box,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .img-box{
    position: relative;
    width: 100%;
    height: 280px;
    border: 15px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgb(181, 180, 180);
}
.main-clinics-sec .clinic-box .img-box img,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.main-clinics-sec .clinic-box .img-box:after,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .img-box:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}
.main-clinics-sec .clinic-box .overlay,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .overlay{
    position: absolute;
    color: #fff;
    bottom: 0;
    margin: auto;
    padding: 30px 20px 30px 30px;
}
.main-clinics-sec .clinic-box .overlay h4,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .overlay h4{
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
    padding-right:10px;
}
.main-clinics-sec .clinic-box .overlay h5,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .overlay h5{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    margin: 55px 0 5px;
}
.main-clinics-sec .clinic-box .overlay a.btn,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .overlay a.btn{
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s ease;
}
.main-clinics-sec .clinic-box .overlay a.btn:hover,
section.dashboard .coach-form .naves-content .coach-dashboard .clinic-box .overlay a.btn:hover{
  padding-left: 6px;
}
/* ClinicsS */
/* Video */
.main-video-sec{
    background-color: #f9f9f9;
    padding: 0 0 60px 0;
}
.main-video-sec .video-in{
    background-color: #1e2e7d;
    padding: 75px 65px;
    color: #fff;
}
.main-video-sec .img-box{
    position: relative;
    width: 100%;
    height: 410px;
    border: 1px solid #fff;
}
.main-video-sec .img-box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 96%;
    height: 94%;
    background-color: rgba(117, 117, 117, 0.6);
    margin: auto;
}
.main-video-sec .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-video-sec .overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.main-video-sec .overlay a{}
.main-video-sec .overlay a>img{}
.main-video-sec .content{
    padding-top: 15%;
}
.main-video-sec .content .sec-heading{
    margin-bottom: 15px;
}
.main-video-sec .content .sec-para{
    color: #fff;
}
/* Video */
/* Post */
.main-post-sec{
    background: url(../../assets/images/post-banner.jpg);
    color: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-post-sec h2{
    font-size: 29px;
    line-height: 42px;
    margin: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
}
.main-post-sec h2 strong{
    display: block;
    font-size: 50px;
    font-weight: 600;
}
.main-post-sec ul{
    margin: 0;
    padding: 0;
}
.main-post-sec ul li{
    margin-right: 15px !important;
}
.main-post-sec ul li a.btn{
    padding: 10px 30px;
    font-size: 16px;
}
/* Post */
/* Unnamed */
.main-unnamed-sec{
    padding: 60px 0;
    background-color: #f9f9f9;
}
.main-unnamed-sec .content{
  padding: 75px 28px;
}
.bg-blue{
  background-color: #134b65;
}
.bg-black{
  background-color: #2e2d2d;
}
.main-unnamed-sec h2{
    margin: 0;
    color: #fff;
    font-size: 29px;
    font-weight: 600;
    line-height: 42px;
}
.main-unnamed-sec h2 strong{
    display: block;
    font-size: 44px;
    font-weight: 700;
}
/* Unnamed */
/*Contact Form*/
.main-form-sec{
    background-color: #f9f9f9;
    padding: 0 0 75px 0;
}
.main-form-sec .form-in{
    background-color: #ffff;
    padding: 45px 95px 50px 95px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgb(210, 206, 206);
}
.main-form-sec .form-in .form-group{
    margin-bottom: 20px;
}
.main-form-sec .form-in .form-group .form-control{
    height: 55px;
    border: 1px solid #dddddd;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: none;
}
.main-form-sec .form-in .form-group textarea{
    width: 100%;
    resize: none;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 10px 10px;
    font-size: 16px;
}
.main-form-sec .form-in h2{}
.main-form-sec .form-in .sec-para{
    margin: 15px 0 30px;
    padding: 0 60px;
}
.main-form-sec .form-in .form-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1; /* Firefox */
}
.main-form-sec .form-in .form-group textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1; /* Firefox */
}
.main-form-sec .form-in .form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c3c3c3;
}

.main-form-sec .form-in .form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #c3c3c3;
}
/*Contact Form*/
/* Footer */
footer{
    padding: 45px 0 40px;
    background-color: #eaeaea;
}
footer a{
    color: #7a7a7a;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}
footer a:hover{
  text-decoration: none;
  color: unset;
}
/* Footer */

/* Inner-Pages */
.inner-page{}
.inner-page .item {
  height: 355px !important;
}
.inner-page .item h1{
  font-size: 45px !important;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: capitalize !important;
  font-weight: 700;
  position: relative;
  margin-top: 12% !IMPORTANT;
}
.semi-bold{
  font-weight: 600 !important;
}
.border-over{
    position: relative;
    width: 100%;
    /* height: 410px; */
}
.border-over img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.border-over:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 94%;
    height: 94%;
    border: 2px solid rgba(230, 222, 222, 0.6);
    margin: auto;
}
.main-vision-sec{
    position: relative;
    padding: 25px 0 95px;
}
.main-vision-sec .sec-heading{}
.main-vision-sec .sec-para{
  margin: 20px 0 0px 0 !important;
}
.main-vision-sec .vision-pics{
    margin-top: 30px;
}
.contact-page{
  padding: 70px 0 !important;
}
/* Inner-Pages */
/* Dashboard */
section.dashboard{}
section.dashboard .coach-form .container{
  max-width: 100% !important;
}
section.dashboard header{
    position: relative;
    z-index: unset;
    width: unset;
    background-color: #1e2e7d;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.dashboard footer{
    padding: 35px 0;
    background-color: #383838;
    color: #fff;
}
section.dashboard footer ul{
    padding: 0;
    margin: 0;
}
section.dashboard footer ul li{
    margin: 0 15px;
}
section.dashboard footer ul li:first-child{
  margin: 0;
}
section.dashboard footer .social-icons ul li{
margin: 0 6px !important;
}
section.dashboard footer .footer-menu{
  margin-bottom: 35px;
}
section.dashboard footer a{
    color: #fff !important;
    font-size: 14px;
    font-weight: 300;
}
section.dashboard .coach-form{}
section.dashboard .coach-form .naves{
    padding: 90px 0 60px;
    background-color: #fafafa;
    border-right: 1px solid #f0f0f0;
}
section.dashboard .coach-form .naves .nav-pills .nav-link.active, 
section.dashboard .coach-form .naves .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #272727;
    font-weight: 600;
}
section.dashboard .coach-form .naves .nav-link {
    display: block;
    padding: 15px 40px;
    border-radius: 0 !important;
    text-align: right;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #f0f0f0;
}

section.dashboard .coach-form .naves-content{
     background: url(../../assets/images/form-bg.jpg)no-repeat;
     padding: 50px 300px 40px 25px;
     border-left: 1px solid #f0f0f0;
     background-size: cover;
}
section.dashboard .coach-form .naves-content .tab-content>.active{}
section.dashboard .coach-form .naves-content h2{
  font-size: 34px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f0f0f0;
}
section.dashboard .coach-form .naves-content form .col-form-label,
.modal .modal-body form .col-form-label{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    color: #000;
}
section.dashboard .coach-form .naves-content form .form-control,
.modal .modal-body form .form-control{
    background-color: transparent;
    height: 46px;
    border-radius: 0;
    border: 2px solid #f0f0f0;
    padding-right: 30px;
    box-shadow: none;
}
section.dashboard .coach-form .naves-content form select{}
section.dashboard .coach-form .naves-content form .checkbx,
.modal .modal-body form .checkbx{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}
section.dashboard .coach-form .naves-content form .form-check,
.modal .modal-body form .form-check{
  padding: 0;
  margin: 0;
}
section.dashboard .coach-form .naves-content form .form-check .form-check-label,
.modal .modal-body form .form-check .form-check-label{
    font-size: 14px;
    font-weight: 400;
}
section.dashboard .coach-form .naves-content form .btns{
  text-align: end;
  margin-top: 35px;
}
section.dashboard .coach-form .naves-content form .btns button{
    background-color: #272727;
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
}
section.dashboard .coach-form .naves-content form .btns button a{
    color:#fff;
    text-decoration:none;
}
section.dashboard .coach-form .naves-content .form-group.checkbox-in{}
section.dashboard .coach-form .naves-content .form-group.checkbox-in ul{
  margin: 0;
}
section.dashboard .coach-form .naves-content .form-group.checkbox-in ul li{
  margin: 0 22px;
}
section.dashboard .coach-form .naves-content .form-group{
  margin-bottom: 25px;
}
section.dashboard .coach-form .naves-content .form-group .addnew{
  position: relative;
}
section.dashboard .coach-form .naves-content .form-group .addnew:before,
section.dashboard .coach-form .naves-content .form-group .addnew2:before{
      position: absolute;
      font-family: "Font Awesome 5 Free" ! important;
      font-weight: 600;
      content: "\f0dd" !important;
      color: #515151;
      font-size: 22px !important;
      left: 75%;
      top: 3px;
}
section.dashboard .coach-form .naves-content .form-group .addnew2:before{
  left: 83% !important;
}
section.dashboard .coach-form .naves-content .form-group .addnew:after{
      position: absolute;
      content: "";
      left: 81%;
      background-color: #f0f0f0;
      width: 2px;
      height: 24px;
      top: 0;
      bottom: 0;
      margin: auto;
}
section.dashboard .coach-form .naves-content .form-group .addnew .form-control{}
section.dashboard .coach-form .naves-content .form-group .addnew button{
    position: absolute;
    top: 10px;
    right: 23px;
    font-size: 10px;
    font-weight: 500;
    border: 0;
    background-color: #272727;
    border-radius: 0;
    padding: 5px 12px;
    box-shadow: none;
}
.modal-header {
    background-color: #272727;
    color: #fff;
}
.modal-header .close{
    color: #fff !important;
    opacity: 1 !important;
}
.modal .modal-title{
      font-size: 34px;
    font-weight: 600;
}
.modal .modal-footer{
    justify-content: flex-start;
}
.modal .modal-footer button{
      background-color: #272727;
      border: 0;
      border-radius: 0;
      padding: 10px 20px;
      margin-left: 5px;
      font-size: 14px;
      font-weight: 500;
}
/* checkbox */
.checkbox-in label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #f0f0f0;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-in input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #326513;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox] {
  display: none;
}
/* checkbox */
section.dashboard .coach-form .naves-content .btn-group{
      border: 2px solid #f0f0f0;
      box-shadow: none;
}
 .btn-group ul{
    border: 1px solid #f0f0f0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.btn-group ul li{border: 1px solid #f0f0f0;padding: 8px 10px;}
.btn-group ul li a{box-shadow: none;outline: none;}
.btn-group ul li a label{
    margin: 0;
    width: 100%;
}
.btn-group ul li.active a{
  color: red;
}
/* Select */

/* Select */
/* DashHeader */
section.dashboard header .btn-group{
  border: 0;
}
section.dashboard header .btn-group .fa-angle-down{
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}
section.dashboard header .btn-group .fa-bell{
  color: #fff;
  font-size: 20px;
}
section.dashboard header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
section.dashboard header ul li button{
        background-color: #ffff;
    color: #000;
    padding: 6px 30px;
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    transition: all .5s ease;
}
section.dashboard header ul li button:hover{
    background-color: #ddd;
    color: #000;
}
section.dashboard header ul li{
  display: inline;
  margin: 0 10px;
}
section.dashboard header ul li .dropdown-avatar img {
    height: 40px;
    margin-right: 20px;
}
.img-circle {
    border-radius: 50%;
}
section.dashboard header ul li .dropdown-avatar .fa {

    cursor: pointer !important;
}
section.dashboard header ul li .dropdown-menu {
    padding: 0;
    top: 40px !important;
    border: 0;
    background-color: white;
    border: 2px solid #ccc;
}
section.dashboard header ul li .dropdown-menu li {
    border: 0;
    display: block;
}
section.dashboard header ul li .dropdown-menu li a{
  
color: #000;
  
text-decoration: none;
}
section.dashboard header ul li .dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* DashHeader */
.dash-searh .search {
  width: 100%;
  position: relative;
  left: 28px;
  top: 4px;
}

.dash-searh .searchTerm {
  float: right;
  width: 100%;
  padding: 15px 10px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #f9f9f9;
  border: 0;
  background-color: transparent;
}

.dash-searh .searchTerm:focus{
  color: #fff;
}

.dash-searh .searchButton {
  position: absolute;
  /* right: -50px; */
  width: 40px;
  height: 36px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  background-color: transparent;
}

/*Resize the wrap to see the search bar change!*/
.dash-searh .wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dash-searh .searchTerm::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  opacity: 1; /* Firefox */
}

.dash-searh .searchTerm:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.dash-searh .searchTerm::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
/*Profile*/
section.dashboard .coach-form .naves-content .profile{}
section.dashboard .coach-form .naves-content .profile .img-box{}
section.dashboard .coach-form .naves-content .profile .img-box img{
    display:flex;
    margin:auto;
}
section.dashboard .coach-form .naves-content .profile .skills{
    margin-top: 80px;
    padding: 15px 0px 0px 30px;
    border-right: 2px solid #e9e9e9;
    border-left: 2px solid #e9e9e9;
}
section.dashboard .coach-form .naves-content .profile .skills h3{
    font-size: 20px;
    font-weight: 500;
}
section.dashboard .coach-form .naves-content .profile .skills ul{
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    height: 260px;
    padding-right: 30px;
}
section.dashboard .coach-form .naves-content .profile .skills ul li{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #dddd;
}
section.dashboard .coach-form .naves-content .profile .skills .custom-control-input:checked~.custom-control-label::before{
        border-color: #272727 !important;
    background-color: #272727 !important;
}
section.dashboard .coach-form .naves-content .profile .skills ul::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

section.dashboard .coach-form .naves-content .profile .skills ul::-webkit-scrollbar-track
{
  background: transparent;
}

section.dashboard .coach-form .naves-content .profile .skills ul::-webkit-scrollbar-thumb
{
      background-image: linear-gradient(135deg, #000 100%, #0000 100%);
      opacity:.2;
}
/*Profile*/
/*Single-Clinic*/
section.dashboard .coach-form .naves-content .single_clinic{}
section.dashboard .coach-form .naves-content .single_clinic form .form-control{
   border: 0;
    font-weight: 600;
}
/*Single-Clinic*/
/* Dashboard */
/*LOGIN-PAGE*/

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: capitalize;
}
.login-page .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #272727;
  border: 0;
  border-radius: 0;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  transition: all .5s ease;
}
.login-page .form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page .form .register-form {
  display: none;
}/*
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}*/
/*body {
  background: #76b852; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}*/ 
/*LOGIN-PAGE*/

/*NewCss 5/22/2020*/
input[type=radio]{
    display: none !important;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

label{
  position: relative;
}

section.dashboard .coach-form .naves-content form .form-control:disabled {
  background-color: #e9ecef;
}
/*NewCss 5/22/2020*/